:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #79758f;
  --gray-dark: #413c5e;
  --primary: #754ffe;
  --secondary: #79758f;
  --success: #19cb98;
  --info: #29baf9;
  --warning: #ffaa46;
  --danger: #e53f3c;
  --light: #f5f4f8;
  --dark: #18113c;
  --white: #fff;
  --light-primary: #e3dcff;
  --light-danger: #fad9d8;
  --light-info: #e1f6ff;
  --light-warning: #ffeeda;
  --light-secondary: #e4e3e9;
  --light-success: #d1f5ea;
  --light-dark: #d1cfd8;
  --dark-primary: #593cc1;
  --dark-warning: #c28135;
  --dark-info: #51a0c2;
  --dark-danger: #ae302e;
  --dark-success: #139a74;
  --dark-secondary: #5c596d;
  --breakpoint-xs: 0;
  --breakpoint-sm: 6in;
  --breakpoint-md: 8in;
  --breakpoint-lg: 62pc;
  --breakpoint-xl: 75pc;
  --font-family-sans-serif: "Inter", "sans-serif;";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@font-face {
  font-family: "feather";
  src: url(../assets/fonts/feather.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: feather;
}
